<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tabla</title>
    <meta name="viewport" content="with=divice=width, initial-scale=1.0" />
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="texto.html">Texto</a></li>
            <li> <a href="media.html">Media</a></li>
            <li> <a href="tabla.html">Tablas</a></li>
            <li> <a href="formulario.html">Formularios</a></li>
        </ul>
    </header>
    <main>
        <h1>Tablas</h1>
        <table>
            <tr>
                <td>#</td>
                <td>CODIGO</td>
                <td>ESTUDIANTE</td>
            </tr>
            <tr>
                <td>1</td>
                <td>AA20041</td>
                <td>Juan Castillo Avalos Avalos</td>
            </tr> 
            <tr>
                <td>2</td>
                <td>AA20042</td>
                <td>Juan Castillo Avalos Ceren </td>
            </tr> 
            <tr>
                <td>3</td>
                <td>AA20043</td>
                <td>Juan Castillo Avalos Arce</td>
            </tr>
        </table>
        <br />

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>CODIGO</th>
                    <th>ESTUDIANTE</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>AA20041</td>
                    <td>Juan Castillo Avalos Avalos</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>AA20042</td>
                    <td>Juan Castillo Avalos Ceren </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>AA20043</td>
                    <td>Juan Castillo Avalos Arce</td>
                </tr>
            </tbody>

        </table>
    </main>
    <footer>
    </footer>
    

    <!--Diccionamineto-->
    <br />
    <a href="../index.html">Regresar al inicio</a>
</body>
</html>